**/bin/
**/obj/
**/node_modules/
**/.git/
**/.vs/
**/.vscode/
**/artifacts/
**/e2e/
**/tests/
**/*.md
**/img/
**/.dockerignore
**/docker-compose.yml
**/.env*
**/playwright.config.ts
**/package.json
**/*.slnx
**/*.slnf
