services:
  db:
    image: ankane/pgvector:latest
    container_name: postgres
    restart: always
    networks:
      - eshop-network
    environment:
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_USER: ${DB_USER}
      POSTGRES_DB: ${DB_NAME} 
    volumes:
      - postgres-data:/var/lib/postgresql/data
      - ./.scripts/init-multiple-dbs.sh:/docker-entrypoint-initdb.d/init-multiple-dbs.sh   
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${DB_USER:-postgres}"]
      interval: 10s
      timeout: 5s
      retries: 5

  cache:
    image: redis:7-alpine
    container_name: redis
    restart: always
    networks:
      - eshop-network
    command: redis-server --requirepass ${REDIS_PASS} --appendonly yes
    volumes: 
      - redis_data:/data


  queue:
    image: rabbitmq:3-management-alpine
    container_name: rabbitmq
    environment:
      RABBITMQ_DEFAULT_USER: ${RABBITMQ_DEFAULT_USER}
      RABBITMQ_DEFAULT_PASS: ${RABBITMQ_DEFAULT_PASS}
    ports:
      - "15672:15672" # Management UI (access via browser)
    networks:
      - eshop-network
    volumes:
      - rabbitmq_data:/var/lib/rabbitmq
    restart: unless-stopped


  catalog-api:
    container_name: catalog-api
    build:
      context: .
      dockerfile: src/Catalog.API/Dockerfile
    restart: unless-stopped
    depends_on:
      db:
        condition: service_healthy
    networks:
      - eshop-network
    environment:
      - ConnectionStrings__catalogdb=Host=db;Database=catalogdb;Username=${DB_USER};Password=${DB_PASSWORD}
      - ConnectionStrings__EventBus=amqp://${RABBITMQ_DEFAULT_USER}:${RABBITMQ_DEFAULT_PASS}@queue:5672
      - OTEL_EXPORTER_OTLP_ENDPOINT=http://otel-collector:4318
      - OTEL_EXPORTER_OTLP_PROTOCOL=http/protobuf
      - OTEL_TRACES_SAMPLER=always_on
      - OTEL_SERVICE_NAME=catalog-api

  identity-api:
    container_name: identity-api
    build:
      context: .
      dockerfile: src/Identity.API/Dockerfile
    restart: unless-stopped
    ports:
      - "5223:8080"
    depends_on:
      db:
        condition: service_healthy
    networks:
      - eshop-network
    environment:
      - ConnectionStrings__identitydb=Host=db;Database=identitydb;Username=${DB_USER};Password=${DB_PASSWORD}
      - WebAppClient=http://localhost
      - WebhooksWebClient=http://localhost:5765
      - ASPNETCORE_FORWARDEDHEADERS_ENABLED=true
      - OTEL_EXPORTER_OTLP_ENDPOINT=http://otel-collector:4318
      - OTEL_EXPORTER_OTLP_PROTOCOL=http/protobuf
      - OTEL_TRACES_SAMPLER=always_on
      - OTEL_SERVICE_NAME=identity-api

  basket-api:
    container_name: basket-api
    build:
      context: .
      dockerfile: src/Basket.API/Dockerfile
    restart: unless-stopped
    depends_on:
      - cache
      - queue
    networks:
      - eshop-network
    environment:
      - ConnectionStrings__Redis=cache,password=${REDIS_PASS}
      - ConnectionStrings__EventBus=amqp://${RABBITMQ_DEFAULT_USER}:${RABBITMQ_DEFAULT_PASS}@queue:5672
      - Identity__Url=http://identity-api:8080
      - OTEL_EXPORTER_OTLP_ENDPOINT=http://otel-collector:4318
      - OTEL_EXPORTER_OTLP_PROTOCOL=http/protobuf
      - OTEL_TRACES_SAMPLER=always_on
      - OTEL_SERVICE_NAME=basket-api

  ordering-api:
    container_name: ordering-api
    build:
      context: .
      dockerfile: src/Ordering.API/Dockerfile
    restart: unless-stopped
    depends_on:
      db:
        condition: service_healthy
      queue:
        condition: service_started
    networks:
      - eshop-network
    environment:
      - ConnectionStrings__orderingdb=Host=db;Database=orderingdb;Username=${DB_USER};Password=${DB_PASSWORD}
      - ConnectionStrings__EventBus=amqp://${RABBITMQ_DEFAULT_USER}:${RABBITMQ_DEFAULT_PASS}@queue:5672
      - Identity__Url=http://identity-api:8080
      - OTEL_EXPORTER_OTLP_ENDPOINT=http://otel-collector:4318
      - OTEL_EXPORTER_OTLP_PROTOCOL=http/protobuf
      - OTEL_TRACES_SAMPLER=always_on
      - OTEL_SERVICE_NAME=ordering-api

  order-processor:
    container_name: order-processor
    build:
      context: .
      dockerfile: src/OrderProcessor/Dockerfile
    restart: unless-stopped
    depends_on:
      db:
        condition: service_healthy
      queue:
        condition: service_started
    networks:
      - eshop-network
    environment:
      - ConnectionStrings__orderingdb=Host=db;Database=orderingdb;Username=${DB_USER};Password=${DB_PASSWORD}
      - ConnectionStrings__EventBus=amqp://${RABBITMQ_DEFAULT_USER}:${RABBITMQ_DEFAULT_PASS}@queue:5672
      - OTEL_EXPORTER_OTLP_ENDPOINT=http://otel-collector:4318
      - OTEL_EXPORTER_OTLP_PROTOCOL=http/protobuf
      - OTEL_TRACES_SAMPLER=always_on
      - OTEL_SERVICE_NAME=order-processor

  payment-processor:
    container_name: payment-processor
    build:
      context: .
      dockerfile: src/PaymentProcessor/Dockerfile
    restart: unless-stopped
    depends_on:
      - queue
    networks:
      - eshop-network
    environment:
      - ConnectionStrings__EventBus=amqp://${RABBITMQ_DEFAULT_USER}:${RABBITMQ_DEFAULT_PASS}@queue:5672
      - OTEL_EXPORTER_OTLP_ENDPOINT=http://otel-collector:4318
      - OTEL_EXPORTER_OTLP_PROTOCOL=http/protobuf
      - OTEL_TRACES_SAMPLER=always_on
      - OTEL_SERVICE_NAME=payment-processor

  webhooks-api:
    container_name: webhooks-api
    build:
      context: .
      dockerfile: src/Webhooks.API/Dockerfile
    restart: unless-stopped
    depends_on:
      db:
        condition: service_healthy
      queue:
        condition: service_started
    networks:
      - eshop-network
    environment:
      - ConnectionStrings__EventBus=amqp://${RABBITMQ_DEFAULT_USER}:${RABBITMQ_DEFAULT_PASS}@queue:5672
      - ConnectionStrings__webhooksdb=Host=db;Database=webhooksdb;Username=${DB_USER};Password=${DB_PASSWORD}
      - Identity__Url=http://identity-api:8080
      - OTEL_EXPORTER_OTLP_ENDPOINT=http://otel-collector:4318
      - OTEL_EXPORTER_OTLP_PROTOCOL=http/protobuf
      - OTEL_TRACES_SAMPLER=always_on
      - OTEL_SERVICE_NAME=webhooks-api

  webapp:
    container_name: webapp
    build:
      context: .
      dockerfile: src/WebApp/Dockerfile
    restart: unless-stopped
    depends_on:
      - queue
    networks:
      - eshop-network
    extra_hosts:
      - "localhost:host-gateway"
    environment:
      - ConnectionStrings__EventBus=amqp://${RABBITMQ_DEFAULT_USER}:${RABBITMQ_DEFAULT_PASS}@queue:5672
      - IdentityUrl=http://localhost:5223
      - IdentityUrlInternal=http://identity-api:8080
      - CallBackUrl=http://localhost
      - services__catalog-api__http__0=http://catalog-api:8080
      - services__basket-api__http__0=http://basket-api:8080
      - services__ordering-api__http__0=http://ordering-api:8080
      - ASPNETCORE_FORWARDEDHEADERS_ENABLED=true
      - Kestrel__EndpointDefaults__Protocols=Http1AndHttp2
      - OTEL_EXPORTER_OTLP_ENDPOINT=http://otel-collector:4318
      - OTEL_EXPORTER_OTLP_PROTOCOL=http/protobuf
      - OTEL_TRACES_SAMPLER=always_on
      - OTEL_SERVICE_NAME=webapp

  webhook-client:
    container_name: webhook-client
    build:
      context: .
      dockerfile: src/WebhookClient/Dockerfile
    restart: unless-stopped
    depends_on:
      - webhooks-api
    ports:
      - "5765:8080"
    networks:
      - eshop-network
    extra_hosts:
      - "localhost:host-gateway"
    environment:
      - IdentityUrl=http://localhost:5223
      - IdentityUrlInternal=http://identity-api:8080
      - CallBackUrl=http://localhost:5765
      - services__webhooks-api__http__0=http://webhooks-api:8080
      - WebhookClientOptions__SelfUrl=http://webhook-client:8080/
      - OTEL_EXPORTER_OTLP_ENDPOINT=http://otel-collector:4318
      - OTEL_EXPORTER_OTLP_PROTOCOL=http/protobuf
      - OTEL_TRACES_SAMPLER=always_on
      - OTEL_SERVICE_NAME=webhook-client

  nginx:
    image: nginx:alpine
    container_name: nginx
    restart: always
    ports:
      - "80:80"
    volumes:
      - ./.nginx/default.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - webapp
    networks:
      - eshop-network

  otel-collector:
    image: otel/opentelemetry-collector-contrib
    container_name: otel-collector
    restart: always
    command: ["--config=/etc/otel-collector-config.yaml"] # 1. Tell it to use the config
    ports:
      - "4317:4317"   # OTLP gRPC
      - "4318:4318"   # OTLP HTTP
    volumes:
      - ./.otello/otel-collector-config.yml:/etc/otel-collector-config.yaml
    networks:
      - eshop-network


  tempo:
    image: grafana/tempo:2.7.2
    container_name: tempo
    restart: always
    command: [ "-config.file=/etc/tempo.yaml" ]
    ports:
      - "3200:3200"   # Tempo HTTP API (search, trace lookup)
    volumes:
      - ./.tempo/tempo-config.yaml:/etc/tempo.yaml
    networks:
      - eshop-network


  grafana:
      image: grafana/grafana:latest
      container_name: grafana
      restart: always
      ports:
        - "3000:3000"
      volumes:
        - ./.grafana/provisioning/datasources:/etc/grafana/provisioning/datasources
      environment:
        - GF_AUTH_ANONYMOUS_ENABLED=true
        - GF_AUTH_ANONYMOUS_ORG_ROLE=Admin
        - GF_AUTH_DISABLE_LOGIN_FORM=true
      networks:
        - eshop-network


  loki:
      image: grafana/loki:latest
      container_name: loki
      command: "-config.file=/etc/loki/config.yaml"
      ports:
        - "3100:3100"
      volumes:
        - ./.loki/loki-config.yaml:/etc/loki/config.yaml
      networks:
        - eshop-network

  prometheus:
      image: prom/prometheus:latest
      container_name: prometheus
      restart: always
      command:
        - "--config.file=/etc/prometheus/prometheus.yml"
        - "--web.enable-remote-write-receiver" # Allow Collector to push metrics
        - "--web.enable-lifecycle"
      ports:
        - "9090:9090"
      volumes:
        - ./.prometheus/prometheus.yaml:/etc/prometheus/prometheus.yml
      networks:
        - eshop-network

volumes:
  postgres-data:
  redis_data:
  rabbitmq_data:

networks:
  eshop-network:
    driver: bridge