services:
  db:
    image: ankane/pgvector:latest
    container_name: postgres
    restart: always
    ports:
      - "5432:5432"
    networks:
      - eshop-network
    environment:
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_USER: ${DB_USER}
      POSTGRES_DB: ${DB_NAME} 
    volumes:
      - postgres-data:/var/lib/postgresql/data
      - ./scripts/init-multiple-dbs.sh:/docker-entrypoint-initdb.d/init-multiple-dbs.sh   
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${DB_USER:-postgres}"]
      interval: 10s
      timeout: 5s
      retries: 5

  cache:
    image: redis:7-alpine
    container_name: redis
    restart: always
    ports:
      - '6379:6379'
    networks:
      - eshop-network
    command: redis-server --requirepass ${REDIS_PASS} --appendonly yes
    volumes: 
      - redis_data:/data


  queue:
    image: rabbitmq:3-management-alpine
    container_name: rabbitmq
    environment:
      RABBITMQ_DEFAULT_USER: ${RABBITMQ_DEFAULT_USER}
      RABBITMQ_DEFAULT_PASS: ${RABBITMQ_DEFAULT_PASS}
    ports:
      - "5672:5672"   # Main port for microservices to connect
      - "15672:15672" # Management UI (access via browser)
    networks:
      - eshop-network
    volumes:
      - rabbitmq_data:/var/lib/rabbitmq
    restart: unless-stopped


  catalog-api:
    container_name: catalog-api
    build:
      context: .
      dockerfile: src/Catalog.API/Dockerfile
    depends_on:
      - queue
      - db
    networks:
      - eshop-network
    environment:
      - ConnectionStrings__catalogdb=Host=db;Database=catalogdb;Username=${DB_USER};Password=${DB_PASSWORD}
      - ConnectionStrings__EventBus=amqp://${RABBITMQ_DEFAULT_USER}:${RABBITMQ_DEFAULT_PASS}@queue:5672


  identity-api:
    container_name: identity-api
    build:
      context: .
      dockerfile: src/Identity.API/Dockerfile
    ports:
      - "5223:8080"
    depends_on:
      - db
    networks:
      - eshop-network
    environment:
      - ConnectionStrings__identitydb=Host=db;Database=identitydb;Username=${DB_USER};Password=${DB_PASSWORD}
      - WebAppClient=http://localhost
      - ASPNETCORE_FORWARDEDHEADERS_ENABLED=true

  basket-api:
    container_name: basket-api
    build:
      context: .
      dockerfile: src/Basket.API/Dockerfile
    depends_on:
      - cache
      - queue
    networks:
      - eshop-network
    environment:
      - ConnectionStrings__Redis=cache,password=${REDIS_PASS}
      - ConnectionStrings__EventBus=amqp://${RABBITMQ_DEFAULT_USER}:${RABBITMQ_DEFAULT_PASS}@queue:5672
      - Identity__Url=http://identity-api:8080


  ordering-api:
    container_name: ordering-api
    build:
      context: .
      dockerfile: src/Ordering.API/Dockerfile
    depends_on:
      - db
      - queue
    networks:
      - eshop-network
    environment:
      - ConnectionStrings__orderingdb=Host=db;Database=orderingdb;Username=${DB_USER};Password=${DB_PASSWORD}
      - ConnectionStrings__EventBus=amqp://${RABBITMQ_DEFAULT_USER}:${RABBITMQ_DEFAULT_PASS}@queue:5672
      - Identity__Url=http://identity-api:8080


  order-processor:
    container_name: order-processor
    build:
      context: .
      dockerfile: src/OrderProcessor/Dockerfile
    depends_on:
      - db
      - queue
    networks:
      - eshop-network
    environment:
      - ConnectionStrings__orderingdb=Host=db;Database=orderingdb;Username=${DB_USER};Password=${DB_PASSWORD}
      - ConnectionStrings__EventBus=amqp://${RABBITMQ_DEFAULT_USER}:${RABBITMQ_DEFAULT_PASS}@queue:5672


  payment-processor:
    container_name: payment-processor
    build:
      context: .
      dockerfile: src/PaymentProcessor/Dockerfile
    depends_on:
      - queue
    networks:
      - eshop-network
    environment:
      - ConnectionStrings__EventBus=amqp://${RABBITMQ_DEFAULT_USER}:${RABBITMQ_DEFAULT_PASS}@queue:5672

  webhooks-api:
    container_name: webhooks-api
    build:
      context: .
      dockerfile: src/Webhooks.API/Dockerfile
    depends_on:
      - queue
      - db
    networks:
      - eshop-network
    environment:
      - ConnectionStrings__EventBus=amqp://${RABBITMQ_DEFAULT_USER}:${RABBITMQ_DEFAULT_PASS}@queue:5672
      - ConnectionStrings__webhooksdb=Host=db;Database=webhooksdb;Username=${DB_USER};Password=${DB_PASSWORD}
      - Identity__Url=http://identity-api:8080


  webapp:
    container_name: webapp
    build:
      context: .
      dockerfile: src/WebApp/Dockerfile
    depends_on:
      - queue
    networks:
      - eshop-network
    extra_hosts:
      - "localhost:host-gateway"
    environment:
      - ConnectionStrings__EventBus=amqp://${RABBITMQ_DEFAULT_USER}:${RABBITMQ_DEFAULT_PASS}@queue:5672
      - IdentityUrl=http://localhost:5223
      - IdentityUrlInternal=http://identity-api:8080
      - CallBackUrl=http://localhost
      - services__catalog-api__http__0=http://catalog-api:8080
      - services__basket-api__http__0=http://basket-api:8080
      - services__ordering-api__http__0=http://ordering-api:8080
      - ASPNETCORE_FORWARDEDHEADERS_ENABLED=true


  nginx:
    image: nginx:alpine
    container_name: nginx
    restart: always
    ports:
      - "80:80"
    volumes:
      - ./.nginx/default.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - webapp
    networks:
      - eshop-network




volumes:
  postgres-data:
  redis_data:
  rabbitmq_data:

networks:
  eshop-network:
    driver: bridge