apiVersion: v1
kind: Service
metadata:
  name: traefik
  namespace: kube-system
spec:
  type: LoadBalancer
  ports:
    - name: web
      port: 80
      protocol: TCP
      targetPort: web
      nodePort: 30000      
    - name: websecure
      port: 443
      protocol: TCP
      targetPort: websecure
      nodePort: 30001      
    app.kubernetes.io/instance: traefik-kube-system
    app.kubernetes.io/name: traefik